@import './utils/fonts';
@import './utils/variables';
@import './utils/breakpoints';
@import './base/common';
@import './components/logo';
@import './components/buttons';
@import './components/menu';
@import './components/social-icon';
@import './components/modal';
@import './layouts/header';
@import './layouts/hero';
@import './layouts/advantages';
@import './layouts/occupation';
@import './layouts/team';
@import './layouts/clients';
@import './layouts/footer';