.button {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.875;
    text-align: center;
    border: 0; 
    padding: 10px 32px;
    max-width: 200px;
    height: 50px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: $primary-white-color;
    background-color: $accent-color;
    cursor: pointer;
    transform: scale(1);
    transition: background-color $timing-function,
        transform $timing-function;
}

.button:hover,
.button:focus {
    margin: 0;
    background-color: rgba(33, 150, 243, 0.7);
    cursor: pointer;
    transform: scale(1.25);
}

.button-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    background-image: url(../img/icon/close.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    box-sizing: border-box;
}

.button-close:focus {
    outline: 0;
    box-shadow: 0 0 1pt 1pt $accent-color;
}

.btn-submit {
    display: block;
    margin: 0 auto;
}

.form-button {
    margin: 0;
    display: inline-flex;
    align-items: center;
    padding: 10px 29px;
    letter-spacing: 0.06em;
}

.form-button::after {
    content: "";
    width: 24px;
    height: 24px;
    background-image: url("../img/icon/icon-send.svg");
    margin-left: 10px;
    }

/*.button.main {
    color: rgba(255,255,255,0.9);
    background-color: linear-gradient(-45deg, #FFA63D, #FF3D77, #338AFF, #3CF0C5);
    background-size: 600%;
    animation: anime 16s linear infinite;
}

@keyframes anime {
   0% {
     background-position 0% 50%;
   }
   50% 
     {background-position 100% 50%; }
   100%
     {background-position 0% 50%; }
}*/