.social-list {
    display: flex;

	@media screen and (max-width: 767px) {
		justify-content: center;
	}
}

.social-item:not(:last-child) {
    margin-right: 10px;
}

.icon {
    fill: currentColor;
    transition: background-color $timing-function;
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    color: $primary-icon-color;
    transform: scale(1);
    transition: transform $timing-function;
}

.insta {
    background-image: url(../img/icon/instagram-w.svg);  
}

.twit {
    background-image: url(../img/icon/twitter-w.svg);  
}

.fb {
    background-image: url(../img/icon/facebook-w.svg);  
}

.li {
    background-image: url(../img/icon/linkedin-w.svg);  
}

.footer-social-link {
    background-color: rgba(255, 255, 255, 0.1);  
}

.social-link:hover,
.social-link:focus {
    background-color: $accent-color;
    color: #ffffff;
    transform: scale(1.25);
    animation: change-color 1000ms $timing-function;
}

@keyframes change-color {
    0% {
        background-color: rgb(80, 157, 177);
    }
    50% {
        background-color: aquamarine;
    }
    100% {
        background-color: $accent-color;
    }
}