.social-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    color: #AFB1B8;
    transform: scale(1);
    transition: transform 250ms $timing-function;
}

.team .social-link:hover,
.team .social-link:focus {
    background-color: $accent-color;
    color: #ffffff;
    transform: scale(1.25);
    animation: change-color 1000ms $timing-function;
}

@keyframes change-color {
    0% {
        background-color: rgb(80, 157, 177);
    }
    50% {
        background-color: aquamarine;
    }
    100% {
        background-color: $accent-color;
    }
}

.social-link:hover,
.social-link:focus {
    color: $accent-color;
}

.icon {
    fill: currentColor;
    transition: background-color 250ms $timing-function;
}