.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
  }

html {
    box-sizing: border-box;
}

// * {
//     outline: solid 1px tomato;
// }

* {
    &::before,
    &::after {
        box-sizing: inherit;
}
}

body {
    margin: 0;
    overflow-x: hidden;
    font-family: Roboto, sans-serif;
    color: $primary-text-color;
    background-color: $primary-white-color;
    font-style: normal;
    letter-spacing: 0.03em;
}

body.modal-open {
    overflow: hidden;
}

h1,
h2,
h3,
p,
a {
    margin: 0;
}

 
p {
    color: $secondary-text-color;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

.container {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
    
    @media screen and (max-width: 479px) {
        width: 100vw;
    }

    @media (min-width: $mobile) {
        width: 480px;
    }

    @media (min-width: $tablet) {
        width: 768px;
    }

    @media (min-width: $desktop) {
        width: 1200px;
    }
}

.section {
	@media screen and (max-width: 1199px) {
		padding: 60px 0;
	}

	@media screen and (min-width: $desktop) {
		padding: 94px 0;
    }
    
    &.no-padding {
        padding-top: 0;
        @media screen and (max-width: 1199px) {
            display: none;    
        }
    }
}

.link {
    position: relative;
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration-line:none;
    color: $secondary-text-color;
    transition: background-color $timing-function;

    @media screen and (max-width: 767px) {
        font-size: 18px;
        line-height: 1.17;
    }
}

.link::before {
    content:'';
    z-index:0;
    position:absolute;
    display:block;
    width:100%;
    height:100%;
    top:0%;
    left:0%;
    filter:blur(15px);
    opacity:0;
    background: linear-gradient(60deg, rgba(247, 149, 51, 0.5), rgba(243, 112, 85, 0.5), rgba(239, 78, 123, 0.5), rgba(161, 102, 171, 0.5), rgba(80, 115, 184, 0.5), rgba(16, 152, 173, 0.5), rgba(7, 179, 155, 0.5), rgba(110, 185, 129, 0.5));
    transition: 300ms opacity ease-in-out;
}

.link:hover::before,
.link:focus::before {
    opacity: 1;
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
}

/*Стилизация заголовков*/

.section-title {
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;

    @media (min-width: $desktop) {
        font-size: 36px;
        line-height: 1.17;
        margin-bottom: 50px;
    }
}
