.advantages { 
    margin: 0;

    @media screen and (min-width: $tablet) {
		display: flex;
        flex-wrap: wrap;
    }

    @media screen and (min-width: $tablet) and (max-width: 1199px) {
		margin: -15px;
	}
}
// @media (min-width: $desktop)

.holder {
    @media screen and (max-width: 767px) {
		&:not(:last-child) {
			margin-bottom: 30px;
		}
	}
    
    @media screen and (min-width: $tablet) and (max-width: 1199px) {
		width: calc((100% - 30px * 2) / 2);
		margin: 15px;
    }
    
    @media screen and (min-width: $desktop) {
		width: calc((100% - 30px * 3) / 4);

		&:not(:nth-child(4n)) {
			margin-right: 30px;
		}
	}
}

    
.holder::before {
    display: block;
    content: "";
    height: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
}

.icon-antenna::before {
    background-image: url(../img/icon/antenna.svg);
}

.icon-clock::before {
    background-image: url(../img/icon/clock.svg);
}

.icon-diagram::before {
    background-image: url(../img/icon/diagram.svg);
}

.icon-astronaut::before {
    background-image: url(../img/icon/astronaut.svg);
}

.holder>h3 {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    @media screen and (max-width: 767px) {
		text-align: center;
	}
}

.holder-item {  
    height: 75px;
    font-size: 14px;
    line-height: 1.71;
}