.footer {
	background-color: #2F303A;
	padding: 60px 0;
}

.footer-flex {
	@media screen and (min-width: 1200px) {
		display: flex;
		align-items: center;
	}
}

.footer-contacts-social {
	@media screen and (min-width: 768px) {
		display: flex;
	}
	@media screen and (min-width: 768px) and (max-width: 1199px) {
		justify-content: space-around;
	}

	@media screen and (min-width: 1200px) {
		width: calc((100% - 30px) / 2);
		justify-content: space-between;
		align-items: baseline;
	}
}

.footer-contacts,
.appeal {
	@media screen and (max-width: 1199px) {
		text-align: center;
		margin-bottom: 60px;
	}

	@media screen and (min-width: $desktop) {
		width: calc((100% - 30px) / 2);
	}
}

.address {
    margin-bottom: 8px;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    color: $primary-white-color;
}

.footer-link {
    font-size: 14px;
    line-height: 1.14;
    color: rgba(255, 255, 255, 0.6);
}

.footer-contacts-item:not(:last-child) {
    margin-bottom: 8px;
}

.appeal-text {
    display: block;
    margin-top: 0;
	margin-bottom: 20px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: $primary-white-color;

    @media screen and (max-width: 767px) {
		text-align: center;
	}    
}

.footer-social-link {
    background-color: rgba(255, 255, 255, 0.1);
    transform: scale(1);
    transition: background-color $timing-function,
        transform 500ms $timing-function;
}

.footer-form {
	@media screen and (max-width: 1199px) {
		text-align: center;
	}
	@media screen and (min-width: $desktop) {
		width: calc((100% - 30px) / 2);
		margin-left: auto;
	}
}

.subscribe-form {
	display: block;
	padding-left: 15px;
	padding-right: 15px;

	@media screen and (min-width: $desktop) {
		display: flex;
	}
}

.footer-email-input {
	padding: 15px;
	border-radius: 4px;
	border: 1px solid rgba(255, 255, 255, 0.3);

	font-size: 16px;
    line-height: 1.25;
	color: $primary-white-color;
	background-color: transparent;
	outline: none;
	transition: border-color $timing-function;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

	&::placeholder {
		font-size: 16px;
        line-height: 1.25;
		color: $secondary-text-color;
	}

	&:focus {
		border-color: $accent-color;
	}

	@media screen and (max-width: 1199px) {
		display: block;
		max-width: 450px;
		margin: 0 auto 20px auto;
	}

	@media screen and (min-width: $desktop) {
		max-width: 358px;
		margin-right: 12px;
    }
}