header {
    position: sticky;
    top: 0px;
    z-index: 1;
    background-color: #ffffff;
}

.page-header {
    border-bottom: 1px solid #ECECEC;
}

.header {
    padding: 32px 15px;
    padding-bottom: 0px;
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
}

.header .contacts-list {
    display: flex;
    padding: 0;
}

.contacts-item:not(:last-child) {
    margin-right: 30px;
}

.icon{
    vertical-align: middle;
    fill: currentColor;
}

.icon.contacts {
    margin-right: 10px;
}