.header  {
    border-bottom: 1px solid #ececec;

    @media screen and (max-width: 767px) {
        position: relative;
	}

    @media screen and (min-width: $tablet) {
        position: sticky;
        top: 0px;
        z-index: 1;
		background-color: #ffffff; 
		height: 80px;
        
        .flex {
			display: flex;
			align-items: center;
		}
    }
}

.contacts-list {
    @media screen and (min-width: $desktop) {
        display: flex;
	}
}

.contacts-item:not(:last-child) {
	@media screen and (max-width: 767px) {
		margin-bottom: 16px;
	}

	@media screen and (min-width: $tablet) and (max-width: 1199px) {
		margin-bottom: 10px;
	}

	@media screen and (min-width: $desktop) {
		margin-right: 30px;
	}
}

.contacts-item {
	@media screen and (max-width: 767px) {
		text-align: center;
    }
}

.link {
	transition: color $timing-function;

	&:hover,
	&:focus {
		color: $accent-color;
	}

	@media screen and (min-width: $desktop) {
		display: inline-flex;
		align-items: center;
	}
}

.contacts.link {
	@media screen and (min-width: $tablet) and (max-width: 1199px) {
		font-size: 12px;
        line-height: 1.17;
	}
}

.contacts-icon{
    margin-right: 8px;
    fill: currentColor;
}

.icon-envelope {
	width: 14px;
	height: 10px;
	
	@media screen and (min-width: $desktop) {
		width: 16px;
		height: 12px;
	}
}

.icon-smartphone {
	width: 10px;
	height: 14px;
	
	@media screen and (min-width: $desktop) {
		width: 10px;
		height: 16px;
	}
}