.hero-section {
    text-align: center;
}

.hero-banner {
    display: flex;
	align-items: center;
    margin-right: auto;
	margin-left: auto;
	background-color: rgba(47, 48, 58, 0.4);
	background-repeat: no-repeat;
	background-position: center;
    background-size: cover;
    
    @media screen and (max-width: 767px) {
		height: 400px;
		max-width: 480px;
		background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url("../../img/background/Hero-img-mobile.jpg");
            
        @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
			screen and (min-resolution: 2dppx) {
			background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			    url("../../img/background/Hero-img-mobile@2x.jpg ");
        }
    }
    
    @media screen and (min-width: $tablet) {
		height: 400px;
		max-width: 768px;
		background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url("../../img/background/Hero-img-tablet.jpg");
            
        @media screen and (min-device-pixel-ratio: 2),
			screen and (min-resolution: 192dpi),
			screen and (min-resolution: 2dppx) {
			background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
				url("../../img/background/Hero-img-tablet@2x.jpg");
        }
    }
    
    @media screen and (min-width: $desktop) {
		height: 600px;
		max-width: 1600px;
		background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url("../../img/background/Hero-img-desktop.jpg");
            
        @media screen and (min-device-pixel-ratio: 2),
			screen and (min-resolution: 192dpi),
			screen and (min-resolution: 2dppx) {
			background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
				url("../../img/background/Hero-img-desktop@2x.jpg");
		}
    }
}

.main-title {
    max-width: 360px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $primary-white-color;

    @media (min-width: $desktop) {
        max-width: 696px;
        font-size: 44px;
        line-height: 1.36;
    }
}